<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Partially Overlapping Campaigns</title>
  </head>
  <body>

    <h1>Partially Overlapping Campaigns</h1>
    <% for (var i in users) { %>
      <a href="/users/<%=users[i]%>"><%= users[i] %></a>
    <%  } %>

  </body>
</html>
