<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%= name %>'s shiet</h1>
    <a href='/'>Go back</a>
    <% for (var i in user){ %>
      <li><%= user[i]%></li>
    <%}%>

  </body>
</html>
